

$first-color: #fff;
$second-color: #000;
$grey:hsl(0, 0%, 40%);
$grey-light:hsl(0, 0%, 60%);
$grey-lighter:hsl(0, 0%, 95%);
$green-light:hsl(120, 69%, 60%);
$green-medium:hsl(120, 69%, 45%);
$green-dark-medium:#219121;
$green-dark:#196c19;


$shadow: linear-gradient(45deg, hsla(111, 61%, 5%, 0.7), hsla(125, 68%, 10%, 0.6));
$shadow2: linear-gradient(45deg, hsla(111, 61%, 10%, 0.7), hsla(125, 68%, 15%, 0.6));
$shadowDark: linear-gradient(45deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));