@media (min-width: 768px) {
	.aboutus {
		&__box {
			flex-direction: row;
			gap: 4em;
		}

		&__textbox {
			text-align: left;
			height: 300px;
			line-height: 3em;
		}
	}

	.footer {
		.wrapper {
			flex-direction: row;
			justify-content: space-evenly;
		}

		&__logo {
			margin: 1em 4em 1em 0;
		}

		&__table {
			margin: 2em 2em;
		}
	}

	
}
